<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
  <form action="./logic/signup.php">
    <label for="email">Enter email address:</label>
    <input type="email" id="email" name="mail" required><br>
    <label for="username">Enter desired username:</label>
    <input type="text" id="username" name="username" minlength="8" maxlength="20" required><br>
    <label for="password">Enter password:</label>
    <input type="text" id="password" name="password" minlength="8" maxlength="20" required><br>
    <label for="pwConfirm">Confirm password:</label>
    <input type="text" id="pwConfirm" name="pwConfirm" minlength="8" maxlength="20" required><br>
    <button>Sign up</button>
  </form>
</body>
</html>